<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <h2>Reddit Clone!</h2>
    </div>

    <!-- Navbar: Login/Sign-up -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign Up</a></li>
    </ul>

    <!-- Navbar: New Post  -->
    <!-- <div class="pull-right">
      <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
    </div> -->
  </div>
</nav>
