<div class="row">
  <div class="col-sm-6" "col-sm-offset-3">
{{#post}}

    <a href="{{this.url}}" class="lead">{{this.title}}</a>
    <p>{{this.summary}}</p>
    <form action="/posts/{{this._id}}/comments" method="post">
      <textarea class="form-control" name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit">Save</button>
      </div>
    </form>
    {{#each this.comments}}
      {{> comment}}
      <hr />
    {{/each}}

    {{/post}}
  </div>
</div>
